<header class="d-flex justify-content-center p-4 gap-4 flex-sm-column flex-md-row flex-column">
   <span class="nav-item dropdown">
        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
           id="navbarScrollingDropdown" role="button">
            EN
        </a>
        <ul aria-labelledby="navbarScrollingDropdown" class="dropdown-menu">
            <li><a class="dropdown-item" href="#">EN</a></li>
            <li><a class="dropdown-item" href="#">FI</a></li>
            <li><a class="dropdown-item" href="#">FA</a></li>
        </ul>
    </span>
    <span class="nav-item"> <a class="nav-link" routerLink="/blog">Dev blog</a> </span>
    <span class="nav-item"> <a class="nav-link" routerLink="/projects">Projects</a> </span>
    <span class="nav-item"> <a class="nav-link" routerLink="/about-me">About me</a> </span>
</header>

<section>
    <div class="full-height-snap view-1 d-flex align-items-center">

        <div class="p-3 d-flex flex-column gap-4 container-sm position-relative"
             style="margin-bottom: 500px !important;">
            <div style="
            position: absolute;
            left: -10px;
            top: 0;
            bottom: 0;
            border-radius: 10px;
            width: 0.3rem;
            background-color: var(--davys-Grey)"
            ></div>

            <div style="font-size: 3.5rem; font-weight: 300">I’m Eric Askari, welcome to my page</div>
            <div style="font-size: 1.5rem; font-weight: 300">Scroll to see my work or send me an email!</div>
            <div class="pt-5">
                <button class="btn btn-primary p-5 pt-3 pb-3">Contact me</button>
            </div>
        </div>
    </div>

    <div class="full-height-snap view-2">
        <button class="m-3 p-5 pt-2 pb-2 btn btn-primary">Click</button>
        <button class="m-3 p-5 pt-2 pb-2 btn btn-outline-primary">Click</button>
        <button class="m-3 p-5 pt-2 pb-2 btn btn-secondary">Click</button>
        <button class="m-3 p-5 pt-2 pb-2 btn btn-outline-secondary">Click</button>
    </div>

    <div class="full-height-snap view-3">
        <button class="btn btn-primary">Click</button>
    </div>
</section>

<footer class="p-4">
    <div class="container-sm">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-xl-6">row</div>
            <div class="col-12 col-sm-12 col-md-6 col-xl-6">
                <div>row</div>
            </div>
        </div>
    </div>
</footer>
