$app-navy-color: (
        50 : #e3e6e8,
        100 : #b9c1c7,
        200 : #8a97a1,
        300 : #5b6d7b,
        400 : #374e5f,
        500 : #142f43,
        600 : #122a3d,
        700 : #0e2334,
        800 : #0b1d2c,
        900 : #06121e,
        A100 : #5ca2ff,
        A200 : #2985ff,
        A400 : #006af5,
        A700 : #005fdb,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #ffffff,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);


$app-orange-color: (
        50 : #fff5ea,
        100 : #ffe6c9,
        200 : #ffd5a6,
        300 : #ffc482,
        400 : #ffb867,
        500 : #ffab4c,
        600 : #ffa445,
        700 : #ff9a3c,
        800 : #ff9133,
        900 : #ff8024,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffe4d2,
        A700 : #ffd4b8,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$app-pink-color: (
        50 : #ffecf0,
        100 : #ffcfd8,
        200 : #ffafbf,
        300 : #ff8fa5,
        400 : #ff7791,
        500 : #ff5f7e,
        600 : #ff5776,
        700 : #ff4d6b,
        800 : #ff4361,
        900 : #ff324e,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffdde1,
        A700 : #ffc3cb,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$app-purple-color: (
        50 : #f6e0f7,
        100 : #e7b3ea,
        200 : #d880dc,
        300 : #c84dce,
        400 : #bc26c4,
        500 : #b000b9,
        600 : #a900b2,
        700 : #a000aa,
        800 : #9700a2,
        900 : #870093,
        A100 : #f9beff,
        A200 : #f48bff,
        A400 : #ef58ff,
        A700 : #ec3fff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$app-gray: (
        50 : #e7e5e3,
        100 : #c3beb8,
        200 : #9b9389,
        300 : #72675a,
        400 : #544736,
        500 : #362613,
        600 : #302211,
        700 : #291c0e,
        800 : #22170b,
        900 : #160d06,
        A100 : #ff9857,
        A200 : #ff7924,
        A400 : #f05d00,
        A700 : #d65300,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);


$app-navy-dark-color: (
        50 : #e1e3e4,
        100 : #b3b9bd,
        200 : #818a91,
        300 : #4e5b64,
        400 : #283743,
        500 : #021422,
        600 : #02121e,
        700 : #010e19,
        800 : #010b14,
        900 : #01060c,
        A100 : #5084ff,
        A200 : #1d60ff,
        A400 : #0045e9,
        A700 : #003ecf,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #ffffff,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);
